pip==24.2
setuptools<70
wheel
numpy==1.26.4
scipy==1.11.4
pandas==2.2.2
matplotlib==3.8.4
scikit-learn==1.4.2
statsmodels==0.14.2
pmdarima==2.0.4
streamlit==1.37.1
plotly==5.22.0
pyyaml==6.0.1
joblib==1.4.2

